<div  [@shake]="animState" class="row p-5 align-items-center">
    <div class="card p-3 mb-3 text-bg-dark">
    <img  src= "{{ image }}" >
    <mat-form-field class="example-full-width" >
        <mat-label>Personnage</mat-label>
        <form (ngSubmit)="onSubmit()">
            <input matInput
            aria-label="Personnage"
            [matAutocomplete]="auto"
            [formControl]="persoCtrl">
            <mat-autocomplete #auto="matAutocomplete">
                @for (perso of filteredPerso | async; track perso) {
                    <mat-option [value]="perso.name">
                    <img alt="../assets/namiHead.jpg" class="example-option-img" [src]="perso.image" height="40">
                    {{perso.name}} | {{perso.manga}}
                    </mat-option>
                }
            </mat-autocomplete>
        </form>
    </mat-form-field>
    </div>  
    
</div>