<div [ngStyle]="{ 'background-image': myUrl, 'color':textColor}" class="container-fluid text-center main" >
    <div class="row">
        <mat-toolbar>
            <h1 class="centered">Fiakdle</h1>
        </mat-toolbar>
        <div class="col-3">
            <img class="img-fluid pt-5" src="/assets/pub.png"/>
        </div>

        <div class="col-6">
            <app-guessframe/>
        </div>

        <div class="col-3">
            <img class="img-fluid pt-5" src="/assets/pub.png"/>
        </div>
    </div>
</div>